.fb-error {
    position: absolute;
    cursor: default;
    padding: theme('spacing.2', 0.5rem) theme('spacing.4', 1rem);
    background-color: theme('colors.danger.500', red);
    color: theme('colors.white', white);
    font-size: theme('fontSize.xs', .75rem);
    border-radius: theme('borderRadius.default', 0.25rem);

    &[class*="has-pin-"]:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        position: absolute;
    }

    &[class*="has-pin-bottom-"]:after {
        border-bottom-width: 0;
        border-top-color: theme('colors.danger.500', red);
    }

    &.has-pin-bottom-left:after {
        left: theme('spacing.3', .75rem);
        top: 100%;
        margin-left: -1px;
    }

    &.has-pin-bottom-center:after {
        margin-left: -2.5px;
        left: 50%;
        top: 100%;
    }

    &.is-left {
        left: 0;
        bottom: 100%;
        margin-bottom: -.5rem;
    }

    &.is-center {
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 5px);
    }
}
